@import "~bootstrap/scss/bootstrap.scss";

  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  #app {
    min-height: 100vh;
  }
  #content {
    padding-top: 70px;
    min-height: "calc(100vh - 92px)";
  }
  
  .footer .navbar .navbar-default{
    
    border-radius: 0 !important;
    border-bottom: 0;
    margin: 20px 0 0;
  
    .copyright {
      padding-top: 20;
      padding-bottom: 20;
    }
  }
  